<%- include('../port/layout-start', {title: title}) %>
    <%- include('../port/menu') %>

        <h1>
            <%= title %>
        </h1>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">
                            <%= book.title %>
                        </h5>

                        <p class="card-text">
                            <%= book.description %>
                        </p>

                        <p><strong>Автор(ы):</strong>
                            <%= book.authors %>
                        </p>

                        <p><strong>Избранная:</strong>
                            <%= book.favorite ? 'Да' : 'Нет' %>
                        </p>

                        <p><strong>Файл книги:</strong>
                            <a href="/books/<%= book._id %>/download">Скачать</a>
                        </p>

                        <p><strong>Количество просмотров: </strong>
                            <%= count %>
                        </p>

                        <div class="text-right">
                            <a class="btn btn-sm btn-primary" href="/books/update/<%= book._id %>">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>

                        <button onclick="deleteBook('<%=book._id %>')" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>

                        <script>
                            function deleteBook(id) {
                                fetch(`/api/books/${id}`, { method: 'DELETE' })
                                    .then(() => window.location.href = '/books');
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>

        <%- include('../port/layout-end') %>